databases:
  - name: sokodb
    databaseName: umqzjqus
    user: umqzjqus

services:
  - type: web
    name: sokoapi
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        value: "postgres://umqzjqus:uQAgaKtz40n78QfhVEB9ZUyYzi693eBP@rain.db.elephantsql.com/umqzjqus"
      - key: RAILS_MASTER_KEY
        sync: false
